<h1>Countires</h1>

<button>Add Country</button>

<table>

    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th>Action</th>

    </tr>
    <% country.forEach((country)=>
        { %>
        <tr>
            <td>
                <%= country.co_code %>
            </td>
            <td>
                <%= country.co_name %>
            </td>
            <td>
                <%= country.co_details %>
            </td>
        </tr>
        <% }) %>
</table>
<a href="https://localhost:3004">Home</a>